.generalInfo th, 
.characteristics th {
  text-align: left;
}
 
.listing, .re_latest_desc {
  width: 100%;
}

#superscript_area {
  font-size: 7px;
}

#show {
  text-align: right;
  text-decoration: underline;
}

#show a {
  text-decoration: underline;
}

#header_text {
  font-weight: bold;
}

#broker_photo {
  margin: 0;
  padding: 0;
  width: 80px;
  height: 60px;
}

a:hover {
  color: #000000;
}

.formHelp {
  font-size: 90%;
}

#legendSearch {
  font-size: 100%;
}

/* *** Start layout of REB object view *** */
#rebTabs {
  margin: 20px 0 !important;
}

#rebTabs .selected {
  cursor: text;
  color: #000;
}

#rebTabs a {
  padding: 0.125em 0.75em !important;
}

.reb-thumb {
  float: left;
  margin: 0 10px 10px 0;
}

#rebAddress h1 {
  border-bottom: none;
}

/* *** End layout of REB object view *** */
