.generalInfo th,
.characteristics th {
  text-align: left;
}

.listing, .re_latest_desc {
  width: 100%;
}

#superscript_area {
  font-size: 7px;
}

#show {
  text-align: right;
  text-decoration: underline;
}

#show a {
  text-decoration: underline;
}

#header_text {
  font-weight: bold;
}

#broker_photo {
  margin: 0;
  padding: 0;
  width: 80px;
  height: 60px;
}

a:hover {
  color: #000000;
}

.formHelp {
  font-size: 90%;
  color: #76797c;
}

#legendSearch {
  font-size: 100%;
}

.object-price {
  white-space: nowrap;
}

/* *** Start layout of REB object view *** */
#rebTabs {
  margin: 12px 0 10px !important;
  border-bottom: none !important;
  text-align:left;
}

#rebTabs .selected a {
  cursor: text;
  color: #000;
  background-color: #dee7ec;
}

#rebTabs a {
  padding: 0.125em 0.75em !important;
}

#rebTabs a:hover {
  background-color: #dee7ec !important;
}

.reb-thumb {
  float: left;
  margin: 0 10px 10px 0;
}

#rebAddress h1 {
  border-bottom: none;
}

.reb-floorplan-show .selected a {
  color: #000;
  text-decoration: none;
}

/* *** End layout of REB object view *** */

/* *** Start Photo slideshow *** */

#reb-photo-show { }

.reb-selected-photo {
  padding: 0.5em;
}

/* The main photo. Display it centered. */
.reb-selected-photo img {
  display: block; /* display as block is needed for centering. */
}

ul.reb-photo-controls {
  padding: 0.25em;
  margin: 10px 0;
  text-align: left;
}

ul.reb-photo-controls li {
  display: inline;
}

.realestateActions .formTabs {
  text-align: left;
}

/* The selected photo (out of the list of five). */
a.reb-selected img {
  border: 5px solid #8cacbb;
}

.reb-photo-controls a {
  border-bottom: none !important;
}

.reb-nav-forward {
  margin-left: 5px;
}

.reb-nav-reverse {
  margin-right: 5px;
}

.reb-no-control-margin {
  padding-left: 22px;
  margin-right: 5px;
}

/* *** End foto slideshow *** */

/* ** Start photo management.pt *** */

#reb-photo-management table {
  border-left: 1px solid #8cacbb;
  border-bottom: 1px solid #8cacbb;
  margin: 2em 0em;
  border-collapse: collapse;
  font-size: 90%;
}

#reb-photo-management th {
  border-top: 1px solid #8cacbb;
  border-right: 1px solid #8cacbb;
  border-bottom: 1px solid #8cacbb;
  padding: 0.25em 0.5em;
  background: #dee7ec none repeat scroll 0%;
  font-weight: normal;
  text-transform: none;
}

#reb-photo-management td {
   border-right: 1px solid #8cacbb;
   padding: 0.25em 0.5em;
}

/* ** End photo management.pt *** */

.back-to-top {
  text-align: right;
  margin-right: 18px;
  margin-bottom: 25px;
}

.back-to-top a {
  text-decoration: none;
}
